# Stock Market Prediction

## AIM:
    To come up with a stock market prediction analysis based on news and timeline data.

In [1]:
import numpy as np
#for handling arrays 
import pandas as pd
# for handling the csv files and rows in data set
import matplotlib.pyplot as plt
# for showing various plots
import seaborn as sns
#for showing various distplots

In [2]:
news = pd.read_csv('india-news-headlines(1).csv')

In [3]:
news.shape

(3297172, 3)

In [4]:
news.head(10)

,publish_date,headline_category,headline_text
0,20010101,sports.wwe,win over cena satisfying but defeating underta...
1,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
2,20010102,unknown,Fissures in Hurriyat over Pak visit
3,20010102,unknown,America's unwanted heading for India?
4,20010102,unknown,For bigwigs; it is destination Goa
5,20010102,unknown,Extra buses to clear tourist traffic
6,20010102,unknown,Dilute the power of transfers; says Riberio
7,20010102,unknown,Focus shifts to teaching of Hindi
8,20010102,unknown,IT will become compulsory in schools
9,20010102,unknown,Move to stop freedom fighters' pension flayed

### Fixing Publish Date

In [5]:
from datetime import datetime

In [6]:
news.dtypes

publish_date          int64
headline_category    object
headline_text        object
dtype: object

In [7]:
news['publish_date'] = pd.to_datetime(news['publish_date'], format = '%Y%m%d')

In [8]:
news.head(10)

,publish_date,headline_category,headline_text
0,2001-01-01,sports.wwe,win over cena satisfying but defeating underta...
1,2001-01-02,unknown,Status quo will not be disturbed at Ayodhya; s...
2,2001-01-02,unknown,Fissures in Hurriyat over Pak visit
3,2001-01-02,unknown,America's unwanted heading for India?
4,2001-01-02,unknown,For bigwigs; it is destination Goa
5,2001-01-02,unknown,Extra buses to clear tourist traffic
6,2001-01-02,unknown,Dilute the power of transfers; says Riberio
7,2001-01-02,unknown,Focus shifts to teaching of Hindi
8,2001-01-02,unknown,IT will become compulsory in schools
9,2001-01-02,unknown,Move to stop freedom fighters' pension flayed

In [9]:
news.dtypes

publish_date         datetime64[ns]
headline_category            object
headline_text                object
dtype: object

## Sentiment Analysis

In [ ]:
# Analysing news headlines based on subjectivity and polarity
from textblob import TextBlob
# for sentiment analysis
polarity = []
subjectivity = []
tuples = []
for i in news['headline_text'].values:
    my_valence = TextBlob(i)
    tuples.append(my_valence.sentiment)

In [14]:
pip install -U textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in c:\users\admin\documents\anaconda\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied, skipping upgrade: six in c:\users\admin\documents\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.14.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.